<%= turbo_frame_tag "edit-profile" do %>
  <div class="container" id="capture">
    <div class="progress-steps-bar">
      <div class="progress-steps-circle active"><p>1</p></div>
      <div class="progress-steps-circle active"><p>2</p></div>
      <div class="progress-steps-circle inactive"><p>3</p></div>
    </div>
    <br><br>
    <h2 class ="text-center">Photo of your IPA</h2>
    <%= simple_form_for current_user, url: 'contract_update' do |f| %>
      <%= f.input :ipa_photo, label: 'Important for checking your salary and making claims.' %>
      <%= f.button :submit, class: 'btn btn-primary btn-block text-white', value: 'Upload' %>
    <% end %>

    <%= link_to 'Skip', personal_details_path, class: 'btn btn-outline-primary btn-block my-3' %>
  </div>
<% end %>
