<%= turbo_frame_tag "accident" do %>
  <div class="progress-steps-bar mb-5">
    <div class="progress-steps-circle active"><p>1</p></div>
    <div class="progress-steps-circle active"><p>2</p></div>
    <div class="progress-steps-circle inactive"><p>3</p></div>
  </div>
  <%= simple_form_for @accident do |f| %>
    <div class="mb-2">
      <label class="string optional" for="accident_injured_part">Injured part</label>
      <input class="form-control string optional" list="parts" name="accident[injured_part]" id="accident_injured_part" autocomplete="off">
      <datalist id="parts">
        <option value="Head"></option>
        <option value="Chest"></option>
        <option value="Stomach"></option>
        <option value="Back"></option>
        <option value="Leg"></option>
        <option value="Hand"></option>
      </datalist>
    </div>
    <%= f.input :medical_facility, as: :select, collection: ['None', 'Alexandra Hospital', 'Changi General Hospital', 'Khoo Teck Puat Hospital', 'National Skin Centre', 'National University Hospital', 'Ng Teng Fong General Hospital', 'Singapore General Hospital', 'Singapore National Eye Centre', 'Tan Tock Seng Hospital'] %>
    <%= f.submit 'Next', class: 'btn btn-block btn-primary mb-3' %>
  <% end %>
  <%= link_to "Back", new_accident_path(accident: @accident), class: 'btn btn-block btn-outline-primary' %>
<% end %>
